__pycache__/
.DS_Store
.vscode*
tmp_examples*
new_checkpoint*
batch_test*
nohup*
/examples/
/Wan2.2-Animate-14B/diffusion_*
diffusion_pytorch_model-00001-of-00004.safetensors
diffusion_pytorch_model-00002-of-00004.safetensors
diffusion_pytorch_model-00003-of-00004.safetensors
diffusion_pytorch_model-00004-of-00004.safetensors
diffusion_pytorch_model.safetensors.index.json
Wan2.1_VAE.pth
relighting_lora.ckpt
models_clip_open-clip-xlm-roberta-large-vit-huge-14.pth
models_t5_umt5-xxl-enc-bf16.pth
xlm-roberta-large/
.cache/
.msc/
.mv/
google/
process_checkpoint/
relighting_lora/